<div class="nested-fields">
  <div class="input-group">
    <span class="input-group-addon">Question</span>
    <%= f.text_field :title, :class => 'form-control' %>
    <span class="input-group-btn">
        <button class="btn btn-default" type="button"><%= link_to_remove_association 'Remove', f %></button>
      </span>
  </div>
  </br>
  <div id="answers">
    <%= f.fields_for :answers do |a| %>
        <%= render 'answer_fields', f: a %>
    <% end %>
  </div>
  <div class="">
    <button type="button" class="btn btn-default indent">
      <%= link_to_add_association "Add Answer", f, :answers %>
    </button>
  </div>
</div>