<div>
  <h1 id="timeline">Tests</h1>
</div>
<ul class="timeline">
  <li>
    <div class="timeline-badge info"><i class="glyphicon glyphicon-user"></i></div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title"><%= "#{@user.name} joined Tutor" %></h4>

        <p>
          <small class="text-muted">
            <i class="glyphicon glyphicon-time"></i><%= " #{time_ago_in_words(@user.created_at)} ago" %>
          </small>
        </p>
      </div>
    </div>
  </li>
  <% count = 0 %>
  <% @tests.each do |test| %>
      <li class="<%= 'timeline-inverted' if count % 2 == 0 %>">
        <% if test.passed %>
            <div class="timeline-badge success"><i class="glyphicon glyphicon-ok"></i></div>
        <% else %>
            <div class="timeline-badge danger"><i class="glyphicon glyphicon-remove"></i></div>
        <% end %>
        <div class="timeline-panel">
          <div class="col-md-10">
            <div class="timeline-heading">
              <h4 class="timeline-title">
                <%= if test.passed
                      "#{@user.name} passed #{Lesson.find(test.lesson_id).title}"
                    else
                      "#{@user.name} failed #{Lesson.find(test.lesson_id).title}"
                    end
                %>
              </h4>

              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i><%= " #{time_ago_in_words(test.created_at)} ago" %>
                </small>
              </p>
            </div>
            <div class="timeline-body">
              <div>
                <p><%= "Answered #{test.mark} out of #{test.total} correctly." %></p>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <%= button_to 'View', test_path(test), :class => 'btn btn-default', :method => :get %>
          </div>
        </div>
      </li>
      <% count += 1 %>
  <% end %>
</ul>

<!--
The Following notice applies to the use of the Timeline(responsive) Bootstrap 3.0.3 Snippet.
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->